body {
      font-family: 'Poppins', sans-serif;
      padding: 20px;
      background-color: rgb(217, 217, 222);
    }

    .main {
      max-width: 500px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    label, select, input {
      display: block;
      width: 100%;
      margin: 10px 0;
    }

    button {
      padding: 10px;
      background-color: #6de435;
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 15px;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }

    .worker-hours {
      margin-top: 10px;
    }
